{:assets 
{}
 :current-tab 2
 :file "fun-stuff.veneer"
 :manifest 
{:dependencies 
{}
 :description "Silly gadgets and strange sounds for Veneer"
 :export-format "[:Pure-Data :macOs :x64 10 14]"
 :license "https://www.eclipse.org/legal/epl-v10.html"
 :name "fun-stuff"
 :url "https://github.com/kronoslang/fun-stuff"
 :version "0.1"}
 :tabs ("tabs/Delay-Hero.z47858i6w1hv52.edn" "tabs/Chip-Monks.286iq6ooju8ruui.edn" "tabs/Blade-Runner.ngr2foc67t144x5.edn" "tabs/mtof.gf1415fa3pgv25h.edn" "tabs/Panner.ds37fyc43jtk7gj.edn")}